doctype html
html 
    head 
        title Home Page 
        link(rel="stylesheet" href="/css/homePage.css")
    body
        div(class="header")
            h1 Welcome to |PLACEHOLDER|
        div(class="buttons")
            a(href="/login") Login
            h2 Signup 