doctype html 
html 
    head 
        title Login 
        link(rel="stylesheet" href="/css/login.css")
    body
        form(id="login" action="/login" method="POST")
            h1 Login 
            input(name="username" id="username" type="text" required placeholder="Username")
            input(name="password" id="password" type="password" required placeholder="Password")
            br
            button(type="Submit") Login